<template>
  <div class="about">
    <div class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">About MyWeather!</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="org-description is-size-4">MyWeather! is an application designed for private use. The development idea came from us wanting to have an custom-made weather application which is designed to look, and act as we want it to. Our goal was to get 2 functions to work: navigation and weather.</p>
      <p class="org-description is-size-4">Because this was done as a project for our University of applied sciences studies, we decided to add database functionality, as well as front-end/back-end division.	</p>
      <p class="org-description is-size-4">We are using WeatherWidget to display weather and mongodb as our database. For routing and navigation we are using leaflet</p>
    </div>
  </div>
</template>
<style lang="scss" scoped>
  .org-description {
    margin-top: 50px;
  }
</style>