
<template>
  <div class="about">
    <div class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">Navigation</h1>
        </div>
      </div>
    </div>




    </div>



</template>

<style lang="scss" scoped>

.org-description {
  margin-top: 50px;
}
</style>

