<template>
  <div class="weatherWidget">
    <script type="application/javascript" src="https://apps.elfsight.com/p/platform.js" defer></script>

  </div>

</template>

<script>
window.weatherWidgetConfig =  window.weatherWidgetConfig || [];
window.weatherWidgetConfig.push({
  selector:".weatherWidget",
  apiKey:"M5HDVCH28ZX8RN8XGYSD2EXHN", //Sign up for your personal key
  location:"Helsinki", //Enter an address
  unitGroup:"metric", //"us" or "metric"
  forecastDays:5, //how many days forecast to show
  title:"Helsinki", //optional title to show in the
  showTitle:true,
  showConditions:true
});

(function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://www.visualcrossing.com/widgets/forecast-simple/weather-forecast-widget-simple.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
export default {
  name: "Weather"
}
</script>

<style scoped>

</style>