<template>
  <div class="events container">
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>
    <form @submit.prevent="submit">
      <input type="text" v-model="name">
      <button type="submit">
        Submit
      </button>
    </form>
    <h2 class="subtitle is-3">Check out upcoming weather!</h2>
    <div class="columns is-multiline">
      <div v-for="event in events" :event="event" :key="event.id" class="column is-one-quarter">
        <router-link :to="`/event/${event.id}`">
          <EventCard :event="event" />
        </router-link>
      </div>
    </div>
  </div>
</template>
<!-- client/src/views/EventSingle.vue -->
<script>
import EventCard from "@/components/EventCard";
import EventService from '@/services/EventService.js'; // NEW
export default {
  name: "EventsList",
  components: {
    EventCard
  },
  data() {
    return {
      event: {},
      events: []
    };
  },
  created() {
    this.getEventsData(); // NEW - call getEventData() when the instance is created
  },
  // NEW
  methods: {
    async getEventsData() {
      // NEW - Use the eventService to call the getEvents() method
      EventService.getEvents()
          .then(
              (events => {
                this.$set(this, "events", events);
              }).bind(this)
          );
    }
  }
};
</script>
<style lang="scss" scoped>
.events {
  margin-top: 100px;
  text-align: center;
}
</style>